loki:
  deploymentMode: SingleBinary

  singleBinary:
    replicas: 1
    persistence:
      enabled: true
      storageClass: gp3
      size: 10Gi
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi

  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    storage:
      type: filesystem
    schemaConfig:
      configs:
        - from: "2024-01-01"
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h

  read:
    replicas: 0
  write:
    replicas: 0
  backend:
    replicas: 0

  gateway:
    enabled: false

  chunksCache:
    enabled: false
  resultsCache:
    enabled: false

  monitoring:
    selfMonitoring:
      enabled: false
    lokiCanary:
      enabled: false
  
  lokiCanary:
    enabled: false

  test:
    enabled: false
