---
# Workaround for a bug in early releases of ibm_zos_core
- name: Create/replace QSAM data set using JCL instead of zos_data_set
  hosts: zos
  gather_facts: no
  collections:
    - ibm.ibm_zos_core
  environment: "{{ environment_vars }}"

  tasks:
    - name: Copy QSAM creation JCL to a JCL library on z/OS
      zos_copy:
        src: ./jcl/CRQSAM
        dest: IBMUSER.JCL(CRQSAM)
        remote_src: false
        force: true

    - include_tasks: tasks/submit_jcl.yml
      vars:
        src: IBMUSER.JCL(CRQSAM)
        acceptable_cond_code: 4

    - name: Display all results
      debug:
        var: job_output