---
- name: Conditionally delete and define a GDG
  hosts: zos_host
  gather_facts: false
  collections:
    - ibm.ibm_zos_core
  environment: "{{ environment_vars }}"


  tasks:
    - name: Delete and define GDG base using IDCAMS
      zos_mvs_raw:
        program_name: IDCAMS
        auth: true
        dds:
          - dd_output:
              dd_name: SYSPRINT
              return_content:
                type: text
          - dd_input:
              dd_name: SYSIN
              content: |
                DELETE GAMA12.TEST.GDG GDG
                SET MAXCC = 0
                IF LASTCC < 9 THEN -
                  DEFINE GDG ( -
                    NAME(GAMA12.TEST.GDG) -
                    LIMIT(50) -
                    NOEMPTY -
                    SCRATCH -
                  )
      register: idcams_result


    - name: Show full IDCAMS result
      debug:
        var: idcams_result
