apiVersion: apps/v1
kind: Deployment
metadata:
  name: automation-api
  namespace: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: automation-api
  template:
    metadata:
      labels:
        app: automation-api
    spec:
      serviceAccountName: s3-sa 
      containers:
      - name: api
        image: dhricko9/automation-api:1.0.9
        workingDir: /app
        ports:
        - containerPort: 8000


