---
- name: Submit JCL to z/OS
  hosts: zos
  gather_facts: no
  collections:
    - ibm.ibm_zos_core

  vars:
    jcl_file: GENER3
    acceptable_cond_code: 4
    environment_vars:
      _BPXK_AUTOCVT: "ON"
      LANG: "C"
      _TAG_REDIR_ERR: "txt"
      _TAG_REDIR_IN: "txt"
      _TAG_REDIR_OUT: "txt"
      _CEE_RUNOPTS: "FILETAG(AUTOCVT,AUTOTAG) POSIX(ON)"
      ZOAU_ROOT: "/usr/lpp/IBM/zoautil"
      ZOAU_HOME: "/usr/lpp/IBM/zoautil"
      PYTHONPATH: "/usr/lpp/IBM/zoautil/lib/3.11"
      LIBPATH: "/usr/lpp/IBM/zoautil/lib:/usr/lpp/IBM/cyp/v3r11/pyz/lib:/lib:/usr/lib:."
      PATH: "/usr/lpp/IBM/zoautil/bin:/usr/lpp/IBM/cyp/v3r11/pyz/bin:/bin:/var/bin"
      STEPLIB: "SYS1.SIEALNKE:CEE.SCEERUN:CEE.SCEERUN2"
      _BPXK_JOBLOG: "STDERR"
      PYTHONSTDINENCODING: "cp1047"
      PYTHONIOENCODING: "utf-8"

  environment: "{{ environment_vars }}"

  tasks:
    - name: Submit JCL job from local file
      ibm.ibm_zos_core.zos_job_submit:
        src: "{{ playbook_dir }}/{{ jcl_file }}"
        location: LOCAL
        wait_time_s: 60
        return_output: true
      register: job_output

    - name: Check job return code
      ansible.builtin.debug:
        msg: "Job completed with return code {{ job_output.jobs[0].ret_code.code }}"
      failed_when: job_output.jobs[0].ret_code.code | int > acceptable_cond_code

    - name: Display job output
      ansible.builtin.debug:
        var: job_output
