name: CI/CD Pipeline

on:
  push:
    branches:
      - main  # or your default branch
    paths:
      - apps/automation-gateway/src/**

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t dhricko9/automation-gateway-api:latest apps/automation-gateway/src
      
      - name: Push Docker image
        run: |
          docker push dhricko9/automation-gateway-api:latest