name: CI/CD Pipeline

on:
  push:
    branches:
      - 'v*'  # or your default branch
    paths:
      - apps/automation-gateway/src/**
    tags:
      - 'v*'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set TAG_NAME
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t dhricko9/automation-gateway-api:latest apps/automation-gateway/src
      
      - name: Push Docker image
        run: |
          docker push dhricko9/automation-gateway-api:latest